* {
    box-sizing: border-box;
  }

  body {
    margin: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #canvas {
    margin: auto;
    border: 1px solid black;
  }

  #start {
    margin: auto;
    border: 1px solid black;
    width: 100px;
  }